<div>
	<p>&copy; 2023 by Mustacchio. All rights reserved.</p>
	<ul>
		<li>
			<a href="http://freewebsitetemplates.com/go/twitter/" id="twitter">twitter</a>
		</li>
		<li>
			<a href="http://freewebsitetemplates.com/go/facebook/" id="facebook">facebook</a>
		</li>
		<li>
			<a href="http://freewebsitetemplates.com/go/googleplus/" id="googleplus">googleplus</a>
		</li>
		<li>
			<a href="http://pinterest.com/fwtemplates/" id="pinterest">pinterest</a>
		</li>
	</ul>
</div>

