<h1><span>let's keep in touch</span></h1>
<form action="/contacts/create" method="post">
	<input type="text" name="name" id="fname" placeholder="name">
	<input type="text" name="address" id="address" placeholder="address">
	<input type="email" name="email" id="email" placeholder="email" required>
	<input type="tel" name="phone" id="phone" placeholder="phone number (XXX-XXX-XXXX)" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}">
	<textarea name="message" id="message" placeholder="MESSAGE" required></textarea>
	<input type="submit" name="send" id="send" value="send">
</form>
</div>
