
    <h1><span>Add New Mustache Style</span></h1>
    <form action="/styles/new-style" method="POST" enctype="multipart/form-data">
      <input type="text" id="title" name="title" placeholder="title" required /><br />
      <input type="text" id="description" name="description" placeholder="Description" required /><br />
      <input type="file" id="image" name="image" required /><br />
      <input type="submit" name="submit" id="submit" value="submit">
    </form>
